$main-width: 1170px;
$break-point: 1000px;


$font-title-capture: Montserrat-Bold, sans-serif;
$base-font: WorkSans-Regular, sans-serif;
$font-subtitle: Montserrat-Regular, sans-serif;


$base-color: #5fbdb0;
$base-font-color: #fff;

$social-pin-color: #cb2126;
$social-share-color: #4c66a4;
$social-tweet-color: #6faedd;


